body{
  background: #ccc;
}

label{
  padding-bottom: 18px;
  display: block;
}

input{
  margin-right: 8px;
}

.pure-button-primary{
  margin-top: 18px;
}

main{
  background-color: #fff;
  width: 600px;
  padding: 36px;
  margin: 24px auto;

}
